<manifest package="com.quantumaiide.agent"
    xmlns:android="http://schemas.android.com/apk/res/android">
  <application android:label="QuantumAIIDE">
    <activity android:name=".QuantumAIIDEWebViewActivity"
      android:exported="true"
      android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>